<md-content class="main-content" ng-controller="BrandListCtrl">
  <md-table-toolbar>
    <div layout="row" layout-xs="column" layout-padding layout-align-gt-sm="start center">
      <md-input-container class="md-block no-margin margin-right" md-no-float flex="100" flex-gt-sm="25">
        <input type="text" placeholder="{{ 'SEARCH' | translate }}" ng-model="query.canonical"
          ng-keypress="$event.keyCode === 13 && onRefresh()" />
      </md-input-container>

      
        <span flex></span>
        <div ng-if="type === 'admin'">
          <md-button class="md-primary md-raised no-margin" 
          md-colors="::{ color: 'white' }" aria-label="New"
            ng-click="onEdit($event)">
            {{ 'CREATE' | translate }}
          </md-button>
        </div>
  
       
          <span flex></span>
          <div ng-if="type === 'vendor'">
          <div ng-if="!isPrimary">
            <md-button class="md-primary md-raised no-margin" 
            md-colors="::{ color: 'white' }" aria-label="New"
              ng-click="onEdit($event)">
              {{ 'CREATE' | translate }}
            </md-button>
          </div>
    </div>
         
       
     


    </div>
  </md-table-toolbar>
  <md-table-container>
    <table md-table md-progress="promise">
      <thead md-head md-on-reorder="onReorder">
        <tr md-row>
          <th class="text-center text-uppercase bold" md-column md-order-by="name">
            <md-icon></md-icon>{{ 'NAME' | translate }}
          </th>
          <th md-column class="text-center text-uppercase bold">
            {{ 'STATUS' | translate }}</th>
          <th md-column></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="brand in brands">
          <td md-cell class="text-center">{{:: brand.name }}</td>
          <td md-cell class="text-center">
            <md-select class="label" aria-label="{{ 'CHANGE_STATUS' | translate }}" ng-model="brand.status"
              ng-class="::{ yellow: brand.isInactive(), green: brand.isActive() }">
              <md-option value="Active" ng-click="onChangeStatus(brand, 'Active')">
                {{ 'ACTIVE' | translate }}
              </md-option>
              <md-option value="Inactive" ng-click="onChangeStatus(brand, 'Inactive')">
                {{ 'INACTIVE' | translate }}
              </md-option>
            </md-select>
          </td>
          <td md-cell>
            <section layout="row" layout-align="center center">
              <md-button class="md-icon-button md-primary" ng-click="onEdit($event, brand)"
                aria-label="{{ 'EDIT' | translate }}">
                <ng-md-icon icon="mode_edit"></ng-md-icon>
              </md-button>
              <md-button class="md-icon-button md-primary" ng-click="onDelete($event, brand)"
                aria-label="{{ 'DELETE' | translate }}">
                <ng-md-icon icon="clear"></ng-md-icon>
              </md-button>
            </section>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit-options="rowOptions" md-limit="query.limit" md-page="query.page"
    md-total="{{query.total}}" md-on-paginate="onPaginationChange">
  </md-table-pagination>
</md-content>