<md-content>
  <section layout="row" layout-padding>
    <div flex>
      <p class="md-body-1" translate="NOT_AUTHORIZED" translate-cloak="NOT_AUTHORIZED">
      </p>
    </div>
  </section>
</md-content>