<md-content class="login-content" 
  layout layout-align="center">

  <md-card flex-gt-sm="50" flex="100" layout-padding>
    <!-- <img class="logo" src="images/logo.png" width="75" height="75" /> -->
   
      <md-card-content layout-padding layout="column">
        <p class="md-body-3 text-center">
         Registered Successfully
        </p>
      <p>
          You will be notify soon
      </p>
      </md-card-content>
     
  
  </md-card>
</md-content>
