<md-content class="main-content" ng-controller="VendorCtrl" ng-init="onInit('<%= type %>')">

    <md-table-toolbar>
      <div layout="row" layout-xs="column" layout-padding
        layout-align-gt-sm="start center">
  
        <md-input-container class="md-block no-margin" md-no-float flex="100" flex-gt-sm="25">
          <input type="text" placeholder="{{ 'SEARCH' | translate }}"
          ng-model="query.canonical"
          ng-keypress="$event.keyCode === 13 && onRefresh()">
        </md-input-container>
  
        <% if (type === 'vendor') { %>
              <span flex></span>
        <div layout="row">
          <md-button class="md-primary md-raised no-margin"
            md-colors="::{ color: 'white' }"    
            aria-label="New"
            ng-click="onEdit($event)">
            {{ 'CREATE' | translate }}
          </md-button>
        </div>
        <% } %>
  
      </div>
    </md-table-toolbar>
  
    <md-table-container>
      <table md-table md-progress="promise">
        <thead md-head md-on-reorder="onReorder">
          <tr md-row>
            <th md-column></th>
            <th md-column class="text-center text-uppercase bold" md-order-by="username">
            <md-icon></md-icon>{{ 'USERNAME' | translate }}
            </th>
            <th md-column class="text-center text-uppercase bold" md-order-by="email">
            <md-icon></md-icon>{{ 'EMAIL' | translate }}
            </th>
            <th md-column class="text-center text-uppercase bold" md-order-by="createdAt">
            <md-icon></md-icon>{{ 'CREATED_AT' | translate }}
            </th>
            <th md-column></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="user in users">
            <td md-cell>
             <img class="img-thumb img-circle margin-right"
              ng-src="/images/avatar.png"
              actual-src="{{:: user.photo.url() }}" />
              {{:: user.name || ('GUEST' | translate) }}
            </td>
            <td md-cell class="text-center">{{:: user.username }}</td>
            <td md-cell class="text-center">{{:: user.email }}</td>
            <td md-cell class="text-center">{{ user.createdAt | date:'mediumDate' }}</td>
            <td md-cell>
             <section layout="row" layout-align="center center">
                              <md-button class="md-icon-button md-primary"
                  ng-click="onEdit($event, user)" aria-label="Edit" flex="35">
                                  <ng-md-icon icon="mode_edit"></ng-md-icon>
                              </md-button>
                              <md-button class="md-icon-button md-primary"
                  ng-click="onDelete($event, user)" aria-label="Delete" flex="35">
                                  <ng-md-icon icon="clear"></ng-md-icon>
                              </md-button>
                          </section>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  
    <md-table-pagination md-limit-options="rowOptions"
        md-limit="query.limit"
        md-page="query.page" md-total="{{query.total}}"
          md-on-paginate="onPaginationChange"
          md-label="{ rowsPerPage: '{{ 'ROWS_PER_PAGE' | translate }}', of: '{{ 'OF' | translate }}' }">
      </md-table-pagination>
    
  </md-content>
  