<md-dialog flex="100" flex-gt-xs="50" aria-label="dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span ng-if="obj.isNew()">{{ 'NEW' | translate }}</span>
      <span ng-if="!obj.isNew()">{{ 'EDIT' | translate }}</span>
      <span flex></span>
      <ng-md-icon icon="close" class="icon-close" ng-click="onClose()" aria-label="Close dialog">
      </ng-md-icon>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <form name="form" novalidate>
      <div layout="row" layout-xs="column" layout-sm="column" layout-padding>
        <div flex>

          <md-input-container class="md-block">
            <label>{{ 'NAME' | translate }}</label>
            <input name="name" placeholder required ng-model="obj.name">
            <div ng-messages="form.name.$error">
              <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
            </div>
          </md-input-container>

        

          <md-input-container class="md-block">
            <md-checkbox ng-model="obj.isFeatured" aria-label="Featured on Homepage">
              {{ 'FEATURED_ON_HOMEPAGE' | translate }}
            </md-checkbox>
          </md-input-container>

          <md-input-container class="md-block">
            <label>{{ 'STATUS' | translate }}</label>
            <md-select name="status" required placeholder ng-model="obj.status">
              <md-option value="Active">{{ 'ACTIVE' | translate }}</md-option>
              <md-option value="Inactive">{{ 'INACTIVE' | translate }}</md-option>
            </md-select>
            <div ng-messages="form.status.$error">
              <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
            </div>
          </md-input-container>
        </div>
        <div flex>
          <div layout="row">
            <div flex="100" class="box-picture img-box"
              ng-style="{ 'background-image': obj.image ? 'url(' + obj.image.url() + ')' : 'url(/images/placeholder.jpg)' }">
            </div>
          </div>

          <div class="margin-top" layout="row" layout-align="start center">
            <md-input-container md-no-float class="md-block" flex="70">
              <label>{{ 'UPLOAD_PICTURE' | translate }}</label>
              <input type="text" value="{{ obj.image.name() }}" disabled>
            </md-input-container>

            <div layout="column" layout-align="start center" flex="30" class="set-margin">
              <md-button type="button" class="md-raised md-mini" ngf-select="uploadImage($file)" ngf-accept="'image/*'"
                ngf-pattern="'image/*'">
                {{ 'BROWSE' | translate }}
              </md-button>
              <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploading">
              </md-progress-circular>
            </div>
          </div>

        </div>
      </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="onClose()">
      {{ 'CLOSE' | translate }}
    </md-button>
    <md-button class="md-raised md-primary" ng-disabled="!form.$valid || isSaving" ng-click="onSubmit(form.$valid)">
      {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
    </md-button>
  </md-dialog-actions>
</md-dialog>