<md-dialog flex="100" flex-gt-xs="30" aria-label="Change Password dialog">

  <form name="form" role="form" novalidate>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>
        <span flex></span>
        <ng-md-icon aria-label="Close dialog" icon="close" class="icon-close"
        ng-click="onClose()">
        </ng-md-icon>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content layout="column" layout-padding>

        <md-input-container>
          <label>{{ 'OLD_PASSWORD' | translate }}</label>
          <input type="password" name="oldPassword" placeholder
            ng-model="formData.oldPassword" required>
          <div ng-messages="form.oldPassword.$error" ng-show="form.$submitted">
            <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>{{ 'NEW_PASSWORD' | translate }}</label>
          <input type="password" name="newPassword" placeholder
            ng-model="formData.newPassword" required>
          <div ng-messages="form.newPassword.$error" ng-show="form.$submitted">
            <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>{{ 'CONFIRM_PASSWORD' | translate }}</label>
          <input type="password" name="confirmedPassword" placeholder
            ng-model="formData.confirmedPassword" required>
          <div ng-messages="form.confirmedPassword.$error" ng-show="form.$submitted">
            <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
          </div>
        </md-input-container>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="onClose()">
        {{ 'CLOSE' | translate }}
      </md-button>
      <md-button type="submit" class="md-raised md-primary"
        ng-disabled="isSaving || !form.$valid"
        ng-click="onSave(form.$valid)">
        {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
