<md-dialog flex="100" flex-gt-xs="30" aria-label="Dialog Review">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2></h2>
            <span flex></span>
            <ng-md-icon icon="close" class="icon-close" ng-click="onClose()"
              aria-label="Close dialog">
            </ng-md-icon>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <div class="md-dialog-content text-center">

            <div>
                <img width="80" height="80" class="img-circle"
                ng-src="/images/placeholder.png"
                actual-src="{{ obj.item.featuredImageThumb.url() }}" />

                <h5 class="md-subhead margin-top no-margin">{{ obj.item.name }}</h5>

                <star-rating ng-model="obj.rating" readonly="true">
                </star-rating>
            </div>

            <p class="md-body-1">{{ obj.comment }}</p>
            
        </div>
    </md-dialog-content>
</md-dialog>