<md-dialog flex="100" flex-gt-xs="40" aria-label="User dialog">

  <form name="form" role="form" novalidate>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ obj.id ? ('EDIT' | translate) : ('NEW' | translate) }}</h2>
        <span flex></span>
        <ng-md-icon aria-label="Close dialog" icon="close" class="icon-close" ng-click="onClose()">
        </ng-md-icon>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <md-content layout="column" layout-padding>

        <div class="alert alert-warning" ng-if="!obj.id">
          {{ 'NOTICE_NEW_USER' | translate }}
        </div>

        <md-input-container>
          <label>{{ 'NAME' | translate }}</label>
          <input type="text" name="name" ng-model="obj.name" required placeholder>
          <div ng-messages="form.name.$error" ng-show="form.$submitted">
            <div ng-message="required">Name required</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>{{ 'USERNAME' | translate }}</label>
          <input type="text" name="username" ng-model="obj.username" required placeholder>
          <div ng-messages="form.username.$error" ng-show="form.$submitted">
            <div ng-message="required">{{ 'FIELD_REQUIRED' | translate }}</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>{{ 'EMAIL' | translate }}</label>
          <input type="email" name="email" ng-model="obj.email" placeholder>
          <div ng-messages="form.email.$error" ng-show="form.$submitted">
            <div ng-message="email">{{ 'INVALID_EMAIL' | translate }}</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>{{ 'MOBILE' | translate }}</label>
          <input type="mobile" name="mobile" ng-model="obj.mobile" placeholder>
          <div ng-messages="form.mobile.$error" ng-show="form.$submitted">
            <div ng-message="mobile">{{ 'INVALID_EMAIL' | translate }}</div>
          </div>
        </md-input-container>

        <md-input-container>
          <label>{{ 'PASSWORD' | translate }}</label>
          <input type="password" name="Password" placeholder ng-required="!obj.id" ng-model="obj.password">
        </md-input-container>

        <md-input-container md-no-float>
          <label>{{ 'PERMISSIONS' | translate }}</label>
          <md-select ng-model="obj.permissions" multiple>
            <md-option value="orders">
              {{ 'ORDERS' | translate }}
            </md-option>
            <md-option value="categories">
              {{ 'CATEGORIES' | translate }}
            </md-option>
            <md-option value="subcategories">
              {{ 'SUB_CATEGORIES' | translate }}
            </md-option>
            <md-option value="brands">
              {{ 'BRANDS' | translate }}
            </md-option>
            <md-option value="items">
              {{ 'ITEMS' | translate }}
            </md-option>
            <md-option value="reviews">
              {{ 'REVIEWS' | translate }}
            </md-option>
            <md-option value="zones">
              {{ 'ZONES' | translate }}
            </md-option>
            <md-option value="customers">
              {{ 'CUSTOMERS' | translate }}
            </md-option>
            <md-option value="users">
              {{ 'USERS' | translate }}
            </md-option>
            <md-option value="slide_images">
              {{ 'SLIDER_IMAGES' | translate }}
            </md-option>
            <md-option value="notifications">
              {{ 'NOTIFICATIONS' | translate }}
            </md-option>
            <md-option value="pages">
              {{ 'PAGES' | translate }}
            </md-option>
            <md-option value="config">
              {{ 'APP_CONFIG' | translate }}
            </md-option>
          </md-select>
        </md-input-container>

        <div layout="row" layout-align="start center">
          <md-input-container md-no-float>
            <label>{{ 'UPLOAD_PICTURE' | translate }}</label>
            <input type="text" ng-value="obj.photo.name()" disabled placeholder>
          </md-input-container>

          <ng-md-icon icon="photo_camera" class="photo-camera" ng-class="{ 'icon-active': obj.photo.url() }"
            ngf-select="uploadImage($file)" ngf-pattern="'image/*'" accept="image/*">
            <md-tooltip>
              {{ 'CHOOSE_FILE' | translate }}
            </md-tooltip>
          </ng-md-icon>
          <md-progress-circular class="md-primary" md-diameter="30" ng-if="isUploading">
          </md-progress-circular>
        </div>
      </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="onClose()">
        {{ 'CLOSE' | translate }}
      </md-button>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="!form.$valid || isSaving"
        ng-click="onSubmit()">
        {{ !isSaving ? ('SAVE' | translate) : ('SAVING' | translate) }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>